.app {
  --header-bg-color: var(--gray-700);
}

.app__header {
  padding: 72px 0 80px;
  background-color: var(--header-bg-color, #0d0d0d);
}

.app__logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.app__main {
  max-width: 736px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}

.app__new-task {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transform: translateY(-50%);
  padding: 0 15px;
  box-sizing: border-box;
}

.app__info {
  padding-top: 91px;
}

.app__list {
  margin: 24px 0;
}
